{% extends 'emails/transactional_base.html' %}

{% block greeting %}
    Hi {{ user.username }},
{% endblock %}

{% block message %}
    A user on {{ site.name }} ({{ site.domain }}) recently requested an email
    change for your account from {{ user.email }} to {{ email }}.

    <br><br>If this was you, please follow this link to confirm this change.
    <br><br>Note, this link will expire in {{ expiry|timeuntil }}
{% endblock %}

{% block cta_url %}{{ scheme }}://{{ site.domain }}{% url 'confirm_change_email' username=user.username activation_key=key %}{% endblock %}
{% block cta_text %}Confirm Email Change{% endblock %}
