<script src="https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.6.15/tags.min.js" type="module"
        integrity="sha256-DQj1cKgaCxDJ9n5kwuXKDqWQ8vVhpA+OIMArzrYydXI=" crossorigin="anonymous"></script>
<script type="module">
    import Tags from 'https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.6.15/tags.min.js';

    document.addEventListener('DOMContentLoaded', function () {
        Tags.init('#ev_area', {
            allowClear: true,
            selected: ['{{ selected_area_ids|join:"','" }}'],
            server: 'area_autocomplete',
            serverParams: {'selected': '{{ selected_area_ids|join:"," }}'},
            liveServer: true
        });
        Tags.init('#ev_network', {allowClear: true});
        Tags.init('#plug_types', {allowClear: true});

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
</script>