{% load mjml static %}

{% mjml %}
    <mjml>
        <mj-body>
            <mj-section background-color="#F0FBFC" padding-top="25px" padding-bottom="0px">
                <mj-column width="100%">
                    <mj-image src="
                            {% block site_baseurl %}{{ base_url }}{% endblock %}{% static 'accounts/emails/logotext_2x.png' %}"
                              width="250px" padding-left="0"
                              padding-bottom="0px" padding-top="0">
                    </mj-image>
                </mj-column>
            </mj-section>
            <mj-section background-color="#F0FBFC" padding-bottom="15px" padding-top="20px">
                <mj-column width="100%">
                    <mj-text align="left" color="#032336" font-size="20px"
                             font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px"
                             padding-right="25px">
                        {% block greeting %}
                        {% endblock %}
                    </mj-text>
                </mj-column>
            </mj-section>

            {% block contents %}
            {% endblock %}

            <mj-section>
                <mj-column width="100%">
                    <mj-divider color="#032336" border-style="dashed" border-width="1px"></mj-divider>
                    <mj-text align="center" color="#032336" font-size="12px" padding-bottom="20px" padding-top="20px">
                        {% block unsubscribe %}
                        {% endblock %}
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-body>
    </mjml>
{% endmjml %}



