{% extends 'beacon/emails/list_base.html' %}
{% load mjml update_renderer %}

{% block greeting %}
    There is {{ result_count }} new result{{ result_count|pluralize }} for your {{ search.name }} search on
    {{ site.name }}.
{% endblock %}

{% block contents %}

    {% for result in results %}
        <mj-section background-color="#F0FBFC" padding-top="0px" padding-bottom="0px">
            <mj-column width="100%">
                <mj-text>
                    <a style="font-size: 16px; font-weight: bold; text-decoration: none; color: #0087D8"
                       href="{{ base_url }}{{ result.update.get_absolute_url }}">
                        {{ result.station.station_name }}
                    </a>
                    <br>
                    <em style="color:#58646B">{{ result.station.full_address_one_line }}</em>
                    <br><br>


                    {% if result.update.is_creation %}

                        <strong style="font-size: 14px; font-weight: bold">New station!</strong>
                        <br><br>
                        <strong>Network:</strong>
                        {{ result.station.ev_network|station_field:"ev_network" }}
                        <br>
                        <strong>Status: </strong>
                        {{ result.station.status_code|station_field:"status_code" }}
                        {% if station.access_code %}
                            <br>
                            <strong>Access: </strong>
                            {{ result.station.access_code|station_field:"access_code" }}
                        {% endif %}
                        {% if station.access_detail_code %}
                            <br>
                            <strong>Access Details: </strong>
                            {{ result.station.access_detail_code|station_field:"access_detail_code" }}
                        {% endif %}
                        {% if station.expected_date %}
                            <br>
                            <strong>Expected Date: </strong>
                            {{ result.station.expected_date }}
                        {% endif %}
                    {% endif %}

                    {% if result.changes %}
                        <strong style="font-size: 14px; font-weight: bold">Station updates</strong>
                        <br><br>
                        <table style="width: 100%">
                            <colgroup>
                                <col span="1" style="width: 24%;">
                                <col span="1" style="width: 38%;">
                                <col span="1" style="width: 38%;">
                            </colgroup>
                            <tr>
                                <th style="color:#58646B; padding-bottom: 5px;">Field</th>
                                <th style="color:#58646B; padding-bottom: 5px;">Previous</th>
                                <th style="color:#58646B; padding-bottom: 5px;">Current</th>
                            </tr>
                            {% for change in result.changes %}
                                <tr>
                                    <td>
                                        <strong>{{ change.field_name }}</strong>
                                    </td>
                                    <td style="color: #333333; background-color: #ffe6e6; text-decoration: line-through;">
                                        {{ change.previous }}
                                    </td>
                                    <td style="color: #333333; background-color: #e6ffe6;">
                                        {{ change.current }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    {% endif %}
                </mj-text>
            </mj-column>
        </mj-section>

    {% endfor %}
{% endblock %}

{% block unsubscribe %}
    No longer want to receive these updates?
    <a href="{{ base_url }}{% url 'search-edit' search_id=search.id %}">Unsubscribe</a>
    on your search settings page.
{% endblock %}
