{% extends 'emails/transactional_base.html' %}

{% block site_baseurl %}{{ protocol }}://{{ domain }}{% endblock %}

{% block greeting %}
    Hi, {{ user.username }},
{% endblock %}

{% block message %}
    A user on {{ site_name }} ({{ domain }}) recently requested a password
    change for your account.

    <br><br>If this was you, please follow this link to confirm this change.
    <br><br>If this was <strong>not</strong> you, log in immediately and change your password.
{% endblock %}

{% block cta_url %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}{% endblock %}
{% block cta_text %}Reset Password{% endblock %}
