{% load static %}
{% load plausible %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block style_extra %}
    {% endblock %}

    {% plausible domain=request.get_host script='script.js' %}

    {% block script_extra %}
    {% endblock %}

    {% block meta %}

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@samuelsutch"/>
        <meta name="twitter:title" content="Charge Beacon"/>
        <meta name="twitter:description" content="Subscribe to updates for chargers in your region."/>
        <meta name="twitter:image" content="{{ base_uri }}{% static 'app/img/logo.png' %}"/>

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Charge Beacon"/>
        <meta property="og:description" content="Subscribe to updates for chargers in your region."/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
        <meta property="og:image" content="{{ base_uri }}{% static 'app/img/logo.png' %}"/>

    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="{% static 'app/img/favicon.ico' %}" sizes="any">
    <link rel="apple-touch-icon" href="{% static 'app/img/apple-touch-icon.png' %}">
</head>

<body>

{% block content %}
{% endblock %}

</body>

</html>