{% load static %}
{% load i18n %}

<div class="header">
    <h1>
        <a href="{% url 'index' %}" title="Charge Beacon home (click to reset filters)">
            <img src="{% static 'app/img/logo.png' %}" alt="Charge Beacon Logo">
            <span>Charge Beacon</span>
        </a>
    </h1>
    {% if not request.user.is_anonymous %}
        <div>
        <a href="{% url 'profile' %}" class="btn btn-primary">{% trans 'Profile' %}</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        </div>
    {% else %}
    <p>
        Subscribe to updates for chargers in your region. <a href="{% url 'django_registration_register' %}">Register</a> or <a href="{% url 'login' %}">login</a>.
    </p>
    {% endif %}
</div>
