{% extends 'app/bs_base.html' %}

{% load humanize %}
{% load url_params %}
{% load static %}

{% block meta %}
    {{ block.super }}
    <link id="updates-feed-link" rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}">
{% endblock %}

{% block title %}Charge Beacon - EV Charging Station Updates{% endblock %}

{% block style_extra %}
    {{ block.super }}
    {% include 'app/search/search_styles.html' %}
{% endblock %}

{% block script_extra %}
    {{ block.super }}
    {% include 'app/search/search_scripts.html' %}
    <script type="module">
        function connectCardBtns() {
            // connect click of entire station update card to station url
            document.querySelectorAll('[data-station-card-url]').forEach(el => {
                el.onclick = () => {
                    location.href = el.dataset.stationCardUrl;
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            connectCardBtns();

            // listen for updates in the search form and update the feed
            const interestingFields = [
                'ev_area',
                'ev_network',
                'dc_fast',
                'only_new',
                'plug_types',
            ];

            const form = document.getElementById('search-inputs');
            const feedLink = document.getElementById('updates-feed-link');
            const feedAnchor = document.getElementById('updates-feed-anchor');

            for (const field of interestingFields) {
                const el = document.getElementById(field);
                el.addEventListener('change', function () {
                    const formData = new FormData(form);
                    const params = new URLSearchParams(formData);
                    window.history.pushState({}, '', `?${params.toString()}`);
                    const newFullURL = `${window.location.origin}${window.location.pathname}?${params.toString()}`;
                    feedLink.href = newFullURL;
                    feedAnchor.href = newFullURL;
                    fetch(`/updates_partial?${params.toString()}`)
                        .then(response => response.text())
                        .then(html => {
                            const container = document.getElementById('updates-container');
                            container.innerHTML = html;
                            connectCardBtns();
                        });
                });
            }

            document.getElementById('save-btn').addEventListener('click', () => {
                form.action = '{% url 'search-new' %}';
                form.submit();
            });
        });
    </script>
{% endblock %}

{% block container_content %}
    <div class="row mt-3">
        <div class="col-lg-4 col-md-5">
            <div class="card mb-3">
                <div class="card-body">
                    Charge Beacon notifies you about EV charger updates in your area.
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        Subscribe to the RSS feed or save search to get periodic wrap up emails.
                    </li>
                </ul>
                <div class="card-footer text-body-secondary text-center">
                    <a href="{{ feed_url }}" id="updates-feed-anchor">RSS Feed Link</a><br>
                </div>
            </div>

            <form id="search-inputs" method="get">
                {% include 'app/search/search_form.html' %}
                {% if request.user.is_authenticated %}
                    <div class="my-4">
                        {% if search %}
                            <a href="{% url 'search-edit' search_id=search.id %}" class="btn btn-outline-primary w-100">
                                Edit Search
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary w-100" id="save-btn">
                                Save Search
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>

        <div class="col-lg-8 col-md-7" id="updates-container">
            {% include 'app/updates_body.html' %}
        </div>

    </div>
{% endblock %}
