{% extends 'app/base.html' %}

{% load humanize %}
{% load url_params %}

{% block script_extra %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const state = document.getElementById('state');
    const ev_network = document.getElementById('ev_network');
    const filter_form = document.getElementById('filter-form');

    state.addEventListener('change', function() {
        filter_form.submit();
    });

    ev_network.addEventListener('change', function() {
        filter_form.submit();
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="header">
        <h1><a href="{% url 'index' %}">EV Charging Station Updates</a></h1>
    </div>
    <form method="get" id="filter-form">
        <div class="filter-header">
            <div class="search-input">
                <label for="state">State</label>
                <select name="state" id="state">
                    <option value="">---</option>
                    {% for state in states %}
                        <option value="{{ state.id }}" {% if request.GET.state == state.id %}selected{% endif %}>{{ state.name }} ({{ state.count }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-input">
                <label for="ev_network">EV Network</label>
                <select name="ev_network" id="ev_network">
                    <option value="">---</option>
                    {% for ev_network in networks %}
                        <option value="{{ ev_network.id }}" {% if request.GET.ev_network == ev_network.id %}selected{% endif %}>{{ ev_network.name }} ({{ ev_network.count }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="updates-container">
        {% for update in updates %}
            <div class="update">
                <div class="update-header">
                    <h3>{{ update.station.key }}</h3>
                    <p>{{ update.created_at|naturaltime }}</p>
                </div>
                <div class="update-body">
                    <p>{{ update.update }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="footer">
        <div class="pagination">
            <span class="step-links">
                {% if updates.has_previous %}
                    <a href="{% url_params page=1 %}">&laquo; first</a>
                    <a href="{% url_params page=updates.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ updates.number }} of {{ updates.paginator.num_pages }}.
                </span>

                {% if updates.has_next %}
                    <a href="{% url_params page=updates.next_page_number %}">next</a>
                    <a href="{% url_params page=updates.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="footer-links">
            <span>Created by <a href="https://sam.sutch.net">Samuel Sutch</a></span>
        </div>
    </div>
{% endblock %}
