{% extends 'app/bs_base.html' %}

{% load humanize %}
{% load url_params %}
{% load static %}

{% block meta %}
    {{ block.super }}
    <link id="updates-feed-link" rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}">
{% endblock %}

{% block title %}Charge Beacon - EV Charging Station Updates{% endblock %}

{% block style_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.6.15/tags-pure.min.css"
          integrity="sha256-bB3o19pajUMfdmUqpYgNiIjoReWE14ILNGukyDI+yig=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock %}

{% block script_extra %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.6.15/tags.min.js" type="module"
            integrity="sha256-DQj1cKgaCxDJ9n5kwuXKDqWQ8vVhpA+OIMArzrYydXI=" crossorigin="anonymous"></script>
    <script type="module">
        import Tags from 'https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.6.15/tags.min.js';

        document.addEventListener('DOMContentLoaded', function () {
            Tags.init();

            const interestingFields = [
                'ev_state',
                'ev_network',
                'dc_fast',
                'only_new',
                'plug_types',
            ];

            const form = document.getElementById('search-inputs');
            const feedLink = document.getElementById('updates-feed-link');
            // const feedAnchor = document.getElementById('updates-feed-anchor');

            for (const field of interestingFields) {
                const el = document.getElementById(field);
                el.addEventListener('change', function () {
                    const formData = new FormData(form);
                    const params = new URLSearchParams(formData);
                    window.history.pushState({}, '', `?${params.toString()}`);
                    const newFullURL = `${window.location.origin}${window.location.pathname}?${params.toString()}`;
                    feedLink.href = newFullURL;
                    // feedAnchor.href = newFullURL;
                    fetch(`/updates_partial?${params.toString()}`)
                        .then(response => response.text())
                        .then(html => {
                            const container = document.getElementById('updates-container');
                            container.innerHTML = html;
                        });
                });
            }
        });
    </script>
{% endblock %}

{% block container_content %}
    <div class="row mt-3">
        <div class="col-md-4">
            <form id="search-inputs" method="get">
                <div class="search-form">

                    <div class="mb-3">
                        <label for="ev_state" class="form-label">Areas</label>
                        <select name="ev_state" id="ev_state" multiple>
                            <option value="">North America</option>
                            {% for state in states %}
                                <option value="{{ state.id }}"
                                        {% if state.id in selected_states %}selected{% endif %}>
                                    {{ state.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="ev_network" class="form-label">EV Networks</label>
                        <select name="ev_network" id="ev_network" multiple>
                            <option value="">All</option>
                            {% for ev_network in networks %}
                                <option value="{{ ev_network.id }}"
                                        {% if ev_network.id in selected_networks %}selected{% endif %}>
                                    {{ ev_network.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="plug_types" class="form-label">Plug Types</label>
                        <select name="plug_types" id="plug_types" multiple>
                            <option value="">Any</option>
                            {% for plug_value, plug_name in plug_types.items %}
                                <option value="{{ plug_value }}"
                                        {% if plug_value in selected_plug_types %}selected{% endif %}>
                                    {{ plug_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" name="dc_fast" id="dc_fast" value="true"
                               class="form-check-input"
                               {% if request.GET.dc_fast == 'true' %}checked{% endif %}>
                        <label for="dc_fast" class="form-check-label">DC Fast</label>
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" name="only_new" id="only_new" value="true"
                               class="form-check-input"
                               {% if request.GET.only_new == 'true' %}checked{% endif %}>
                        <label for="only_new" class="form-check-label">Only Show New</label>
                    </div>

                </div>
            </form>
        </div>

        <div class="col-md-8" id="updates-container">
            {% include 'app/updates_body.html' %}
        </div>

    </div>

    {% include 'app/footer.html' %}
{% endblock %}
