{% extends 'app/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block style_extra %}
    {% bootstrap_css %}
    <style>
        .single {
            max-width: 500px;
            margin: 25px auto;
        }
    </style>
{% endblock %}

{% block script_extra %}
    {% bootstrap_javascript %}
{% endblock %}

{% block content %}
    {% bootstrap_messages %}

    <div class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'app/img/logo.png' %}" alt="Logo" width="24" class="d-inline-block align-text-top">
                Charge Beacon
            </a>
        </div>
    </div>
    <div class="container-sm">
        <div class="bg-light p-5 rounded single">
            {% block modal %}{% endblock %}
        </div>
    </div>

{% endblock %}
