{% load humanize %}
{% load update_renderer %}


<h3>
    {{ station.station_name }}
    {% if new %}
        <span class="station-new-pill">New!</span>
    {% else %}
        <span class="station-update-pill">Updated</span>
    {% endif %}
</h3>

<p>{{ timestamp|naturaltime }}</p>

<p>
    <em>
        {{ station.street_address|title }}<br>
        {{ station.city|title }}, {{ station.state|upper }} {{ station.zip }}
    </em>
</p>


<table>
    <tr>
        <th>Plug Types</th>
        <td>
            {% for ct in station.ev_connector_types %}
                {{ ct|station_field:"ev_connector_types" }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>DC Fast Plugs</th>
        <td>
            {% if station.ev_dc_fast_num %}{{ station.ev_dc_fast_num }}{% else %}0{% endif %}
        </td>
    </tr>
    <tr>
        <th>Level 2 Plugs</th>
        <td>
            {% if station.ev_level2_evse_num %}{{ station.ev_level2_evse_num }}{% else %}0{% endif %}
        </td>
    </tr>
</table>


{% if changes %}

    <h3 class="station-changes-header">Changes</h3>
    <table>
        <thead>
        <tr>
            <th>Field</th>
            <th>Previous</th>
            <th>Current</th>
        </tr>
        </thead>
        <tbody>
        {% for change in changes %}
            <tr>
                <td>{{ change.field_name }}</td>
                <td>{{ change.previous }}</td>
                <td>{{ change.current }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}

    <table>
        <tbody>
        <tr>
            <th>Network</th>
            <td>{{ station.ev_network|station_field:"ev_network" }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ station.status_code|station_field:"status_code" }}</td>
        </tr>
        {% if station.access_code %}
            <tr>
                <th>Access</th>
                <td>{{ station.access_code|station_field:"access_code" }}</td>
            </tr>
        {% endif %}
        {% if station.access_detail_code %}
            <tr>
                <th>Access Details</th>
                <td>{{ station.access_detail_code|station_field:"access_detail_code" }}</td>
            </tr>
        {% endif %}
        {% if station.expected_date %}
            <tr>
                <th>Expected Date</th>
                <td>{{ station.expected_date }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endif %}

