{% load update_renderer %}
{% load url_params %}

{% for update in updates %}
    {% station_card update %}
{% empty %}
    <div class="bg-body-tertiary rounded border-light-subtle p-3 mb-3">
        No recent updates. Check back soon!
    </div>
{% endfor %}

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        {% if updates.has_previous %}
            <li class="page-item">
                <a href="{% url_params page=1 %}" class="page-link">&laquo; first</a>
            </li>
            <li class="page-item">
                <a href="{% url_params page=updates.previous_page_number %}" class="page-link">previous</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link">Page {{ updates.number }} of {{ updates.paginator.num_pages }}</a>
        </li>

        {% if updates.has_next %}
            <li class="page-item">
                <a href="{% url_params page=updates.next_page_number %}" class="page-link">next</a>
            </li>
            <li class="page-item">
                <a href="{% url_params page=updates.paginator.num_pages %}" class="page-link">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>


