.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.station-data {
    display: flex;
    margin-top: 10px;
}

.station-field {
    border: 1px solid var(--bs-border-color);
    flex-grow: 1;
}

.station-field:not(:first-child) {
    margin-left: -1px;
}

.station-field .station-field-name {
    font-weight: bold;
    padding: 5px;
    background-color: var(--bs-secondary-bg);
}

.station-field .station-field-value {
    padding: 5px;
}

.station-details {
    margin-top: 10px;
}

.station-detail {
    display: flex;
    border: var(--bs-border-color);
    background-color: var(--bs-secondary-bg);
    margin-top: -1px;
}

.station-detail-name {
    font-weight: bold;
    padding: 5px;
    min-width: 25%;
}

.station-detail-value {
    padding: 5px;
}

.station-changes-header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.station-changes {
    border: 1px solid var(--bs-border-color);
    display: grid;
    background-color: var(--bs-secondary-bg);
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 500px) {
    .station-changes {
        grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
    }
}

.station-changes > div {
    padding: 5px;
}

.station-change-field {
    background-color: var(--bs-body-bg);
    font-weight: bold;
}

.station-change-data {
}

.station-change-previous {
    /* render like a deleted line in a git diff */
    color: #333333;
    background-color: #ffe6e6;
    text-decoration: line-through;
}

.station-change-current {
    /* render like an added line in a git diff */
    color: #333333;
    background-color: #e6ffe6;
}
